#Board {
  margin: 10%;
  text-align: center;
  font-size: 60px;
}

.Row {
  display: block;
  

}

.Box {
  display: inline-block;
 vertical-align: middle;
  height: 150px;
  width: 150px;
  background-color: rgb(17, 255, 176);
  border: 2px solid rgb(46, 46, 46);
  cursor: pointer;

}

.Round {
  content: 'O';
  cursor: not-allowed;
  background-color: rgb(233, 103, 103);
}

.Cross {
  content: 'X';
  cursor: not-allowed;
  background-color: rgb(233, 103, 103);
}